body {
  /* background-image: url("img/bg.jpg"); */
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  font-family: "Arvo", serif;
  color: white;
  margin: 0px;
  padding: 0px;
}
.left {
  display: inline-block;
  /* border: 2px solid red; */
  position: absolute;
  left: 50px;
  top: 20px;
}
.left img {
  width: 135px;
  filter: invert(100%);
}
.left div {
  text-align: center;
  line-height: 10px;
  font-size: 25px;
}
.mid {
  display: block;
  width: 37%;
  margin: 29px auto;
  /* border: 2px solid green; */
}
.right {
  display: inline-block;
  /* border: 2px solid yellow; */
  position: absolute;
  right: 34px;
  top: 40px;
}
.navbar {
  display: inline-block;
}

.navbar li {
  display: inline-block;
  font-size: 25px;
}

.navbar li a {
  color: white;
  text-decoration: none;
  padding: 34px;
}
.navbar li a:hover,
.navbar li a.active {
  color: gray;
  text-decoration: underline;
}
.btn {
  font-family: "Arvo", serif;
  margin: 0px 9px;
  color: white;
  background-color: black;
  padding: 4px 14px;
  border: 2px solid gray;
  border-radius: 10px;
  font-size: 20px;
  cursor: pointer;
}
.btn:hover {
  background-color: gray;
}

.about {
  margin: 90px;
  font-size: 25px;
}
.fitness {
  margin: 90px;
  font-size: 25px;
}
.container {
  border: 2px solid white;
  margin: 100px 80px;
  padding: 75px;
  width: 63%;
  border-radius: 25px;
}
.form input {
  font-family: "Arvo", serif;
  text-align: center;
  display: block;
  width: 500px;
  padding: 1px;
  border: 2px solid black;
  margin: 10px auto;
  font-size: 25px;
  border-radius: 10px;
}
.container h1 {
  text-align: center;
}
.container button {
  display: block;
  width: 500px;
  margin: 20px auto;
}
